# ESXI Kickstart File

# Accept the VMware End User License Agreement
vmaccepteula

# Set the root password for the DCUI and Tech Support Mode
rootpw <PASSWORD>

# Install on the first local disk available on machine
install --firstdisk --overwritevmfs

# Set the network to DHCP on the first network adapter
network --bootproto=static --device=vusb0 --ip=<IP_ADDRESS> --netmask=<NETMASK> --gateway=<GATEWAY> --hostname=<HOST_IP> --nameserver=<DNS_SERVER>

# reboot after install
reboot

%firstboot --interpreter=busybox
# Enable SSH
vim-cmd hostsvc/enable_ssh
vim-cmd hostsvc/start_ssh

# Suppress Shell warning
esxcli system settings advanced set -o /UserVars/SuppressShellWarning -i 1

# Enable Power saving
vsish -e set /power/currentPolicy 3

# Enable PCI Passthrough of the ethernet device
esxcli hardware pci pcipassthru set -a -d <PCI_DEVICE_ID> -e TRUE

# Ensure the server enters Powersaving mode at boot
# Ensure the ethernet speed is 1gb
# Make the USB ethernet adaptor the 'Managment Network' uplink after boot
echo -e '#!/bin/sh ++group=host/vim/vmvisor/boot\n\nvsish -e set /power/currentPolicy 3\nesxcfg-nics -s 1000 -d full vusb0\nesxcfg-vswitch -L vusb0 vSwitch0\nesxcfg-vswitch -M vusb0 -p "Management Network" vSwitch0\nesxcfg-vswitch -M vusb0 -p "VM Network" vSwitch0\nexit 0\n' > /etc/rc.local.d/local.sh
/etc/rc.local.d/local.sh
